body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.header{
    background-color: #fff;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.header h1 {
    margin: 0;
}

.header p {
    margin: 5px 0;
    font-size: 18px
}

.main-content {
    position: relative;
    right: -100%;
    animation: slideIn 1.5s forwards;
}

@keyframes slideIn {
    0% {
        left: -50%
    }
    100% {
        left: 50;
    }
}

.h1__title {
    position: relative;
    align-items: center;
    margin: 200px 10px 40px 250px;
    font-size: 60px;
    color: #333;
    animation: slideIn 1s forwards;
    
}

.p1 {
    display: flex;
    align-items: center;
    color: #fff;
    margin: -40px 10px 40px 250px;
    font-size: 20px;
    background-color: #f5b558;
    padding: 7px 20px;
    border-radius: 8px;
    justify-content: wrap;
}

.nav {
    opacity: 0;
    transition: opacity 0.3s ease-in;
}

.nav.show {
    opacity: 1;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: 1000px;
    font-size: 25px;
    animation: slideIn
}

.nav ul li {
    display: inline;
    margin-left: 80px;
}

.nav ul li a {
    color: #333;
    padding: 10px;
    text-decoration: none;
}

.nav ul li a:hover {
    transform: translateY(-3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.23);
    background-color: #99b7d7;
    backface-visibility: hidden;
    opacity: 0.8;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    color: #fff;
}

.illustration img {
    width: 60%;
    position: relative;
    margin: -250px 60px -40px 750px;
    animation: slideIn 1.5s forwards;
}


@keyframes slideIn {
    0% {
        right: -100%;
    }
    100% {
        right: 0;
    }
}

@media (max-width: 500px) {

    .illustration img {
        width: 80%;
        margin: -300px 25px 0px 0px;
        position: absolute;
    }

    .header {
        margin: 0px;
        padding: 10px;
        background-color: #fff;
    }

    .nav ul {
        margin: 50px 10px 10px -10px;
        text-align: right;
    }

    .h1__title {
        margin: 90px 15px 20px 25px;
        font-size: 35px;
    }

    .p1 {
        margin: 10px 15px 15px 25px;
        font-size: 16px;
    }
    
    
}
